@using S1640.Models;
@{

    S1640Entities conn = new S1640Entities();
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int UserNo = Convert.ToByte(Session["Userid"]);
}
<div class="content-wrapper">
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Change Password</h2>
        </header>
        <div class="form-group row">
            <div class="col-lg-12 content" style="margin-top: 65px;">
                <div class="row">
                    <div class="col-lg-12">                           
                        <div class="card-body">
                            <form action="" method="POST">
                                <br />
                                <div class="form-group row">
                                    @{
                                        var User = conn.UserMasters.Where(x => x.MTransNo == UserNo).FirstOrDefault();
                                    }
                                    <label class="col-lg-3 control-label text-lg-right pt-2">User</label>
                                    <label class="col-lg-2 control-label text-lg-left pt-2">@User.UserId</label>
                                    <input id="usrMtrans" hidden value="@User.MTransNo">
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 control-label text-lg-right pt-2"><span class="required">*</span>New Password</label>
                                    <div class="col-lg-3">
                                        <input id="pass" type="password" class="form-control"  title="Password must be 8 characters long and must contain one special character and one number." placeholder="Enter Password">
                                        <span id="perr" style="color: red"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 control-label text-lg-right pt-2"><span class="required">*</span>Confirm Password</label>
                                    <div class="col-lg-3">
                                        <input id="cfpass" type="password" class="form-control" placeholder="Re-enter Password">
                                        <span id="cperr" style="color: red"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12 col-md-offset-2">
                                        <div class="text-center">
                                            <a href="#" onclick="CheckSave()" class="btn btn-primary btn-lg" style="color:white;">Submit</a>
                                            <a href="Index" class="btn btn-danger btn-lg">Close</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">

    function CheckSave() {
        var pwd = $('#pass').val().trim();
        var cpwd = $('#cfpass').val().trim();
        var Mtrans = $('#usrMtrans').val();
        var toSnd= [];
        
        if (pwd != "") {
            if (cpwd != "") {
                if (pwd == cpwd) {
                    if (pwd.length >= 8 &&  pwd.length <= 15) {
                        if (/^[a-zA-Z0-9- ]*$/.test(pwd) == false) {
                            if (/\d/.test(pwd) == true) {
                                toSnd[0] = pwd;
                                toSnd[1] = Mtrans;

                                $.ajax({
                                    type: "POST",
                                    url: "/Home/UpdatePass",
                                    data:
                                    {
                                        DtlString: toSnd
                                    },
                                    success: function (result) {
                                        if (result == "Success") {
                                            alert("Password changed successfully!\n You need to Login again");
                                            window.location.href = "/Home/Logout";
                                        } else {
                                            alert("Error while updating Password");
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        alert(error);
                                    },
                                });   
                            } else {
                                $("#perr").html("Password must have a number");
                                $("#cperr").html("");
                            }
                        } else {
                            $("#perr").html("Password must have a special character");
                            $("#cperr").html("");
                        }
                    } else {
                        $("#perr").html("Password must be atleast 8 characters long and less than 15!");
                        $("#cperr").html("");
                    }
                } else{
                    $("#cperr").html("Password is not matching");
                    $("#perr").html("");
                }
            } else {
                $("#cperr").html("Field cannot be empty");
                $("#perr").html("");
            }
        } else {
            $("#perr").html("Please enter password");
            $("#cperr").html("");
        }
    }
         
</script>
<!-- Specific Page Vendor -->
<script src="~/Content/vendor/jquery-ui/jquery-ui.js"></script>
<script src="~/Content/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js"></script>
<script src="~/Content/vendor/jquery-appear/jquery-appear.js"></script>
<script src="~/Content/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="~/Content/vendor/flot/jquery.flot.js"></script>
<script src="~/Content/vendor/flot.tooltip/flot.tooltip.js"></script>
<script src="~/Content/vendor/flot/jquery.flot.pie.js"></script>
<script src="~/Content/vendor/flot/jquery.flot.categories.js"></script>
<script src="~/Content/vendor/flot/jquery.flot.resize.js"></script>
<script src="~/Content/vendor/jquery-sparkline/jquery-sparkline.js"></script>
<script src="~/Content/vendor/raphael/raphael.js"></script>
<script src="~/Content/vendor/morris/morris.js"></script>
<script src="~/Content/vendor/owl.carousel/owl.carousel.js"></script>
<script src="~/Content/vendor/chartist/chartist.js"></script>

<script src="~/Content/vendor/liquid-meter/liquid.meter.js"></script>
<script src="~/Content/vendor/snap.svg/snap.svg.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="~/Scripts/js/theme.js"></script>

<!-- Theme Custom -->
<script src="~/Scripts/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="~/Scripts/js/theme.init.js"></script>
<!-- Examples -->
<script src="~/Scripts/js/examples/examples.widgets.js"></script>
<script src="~/Scripts/js/examples/examples.charts.js"></script>