@using S1640.Models;
@{

    S1640Entities conn = new S1640Entities();
    @* ViewBag.Title = "";*@
    Layout = null;
    int UserNo = Convert.ToByte(Session["Userid"]);
}
<head>
    <link rel="shortcut icon" href="~/Content/img/C_icon.png">
    <meta name="viewport" content="width=device-width" />
    <!-- Basic -->
    <meta charset="UTF-8">
    <meta name="keywords" content="CREINTORS" />
    <meta name="description" content="Creintors Automation Solutions Pvt. Ltd.">
    <meta name="author" content="Creintors">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/vendor/animate/animate.css">
    <link rel="stylesheet" href="~/Content/vendor/font-awesome/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/Content/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/css/theme.css" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Content/css/skins/default.css" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/custom.css">
    <!-- Head Libs -->
    <script src="~/Content/vendor/modernizr/modernizr.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    </script>
    <!-- Specific Page Vendor -->
    <script src="~/Content/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/Content/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js"></script>
    <script src="~/Content/vendor/jquery-appear/jquery-appear.js"></script>
    <script src="~/Content/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Content/vendor/flot/jquery.flot.js"></script>
    <script src="~/Content/vendor/flot.tooltip/flot.tooltip.js"></script>
    <script src="~/Content/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/Content/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/Content/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/vendor/jquery-sparkline/jquery-sparkline.js"></script>
    <script src="~/Content/vendor/raphael/raphael.js"></script>
    <script src="~/Content/vendor/morris/morris.js"></script>
    <script src="~/Content/vendor/owl.carousel/owl.carousel.js"></script>
    <script src="~/Content/vendor/chartist/chartist.js"></script>

    <script src="~/Content/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="~/Content/vendor/snap.svg/snap.svg.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Scripts/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/Scripts/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Scripts/js/theme.init.js"></script>
    <!-- Examples -->
    <script src="~/Scripts/js/examples/examples.widgets.js"></script>
    <script src="~/Scripts/js/examples/examples.charts.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins',sans-serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: linear-gradient(62deg, #2E31C8, #F4A211);
        }

        .box {
            position: relative;
            width: 480px;
            height: 420px;
            background: #1c1c1c;
            border-radius: 8px;
            overflow: hidden;
        }

            .box::before {
                content: '';
                position: absolute;
                top: -50%;
                left: -50%;
                width: 380px;
                height: 420px;
                background: linear-gradient(#45f3ff, #9110e5);
                /*background: linear-gradient(0deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
                /*background: linear-gradient(0deg,0, 0,#45f3ff,#45f3ff,#45f3ff);*/
                z-index: 1;
                animation: animate 6s linear infinite;
                transform-origin: bottom right;
            }

            .box::after {
                content: '';
                position: absolute;
                top: -50%;
                left: -50%;
                width: 380px;
                height: 420px;
                background: linear-gradient(#45f3ff, #9110e5);
                /*background: linear-gradient(0deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
                /*background: linear-gradient(0deg,0, 0,#45f3ff,#45f3ff,#45f3ff);*/
                z-index: 1;
                animation: animate 6s linear infinite;
                transform-origin: bottom right;
                animation-delay: -3s;
            }

        @@keyframes animate {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .box form {
            position: absolute;
            inset: 4px;
            padding: 50px 40px;
            background: #222;
            border-radius: 8px;
            z-index: 2;
            display: flex;
            flex-direction: column;
        }

            .box form h2 {
                color: #fff;
                font-weight: 500;
                text-align: center;
                letter-spacing: 0.1em;
            }

            .box form .inputBox {
                position: relative;
                width: 300px;
                margin-top: 35px;
            }

                .box form .inputBox input {
                    position: relative;
                    width: 100%;
                    padding: 20px 10px 10px;
                    /*background: tra*/
                    border: none;
                    opacity: 0.1;
                    outline: none;
                    box-shadow: none;
                    color: #23242a;
                    font-size: 1em;
                    letter-spacing: 0.05em;
                    transition: 0.5s;
                    z-index: 10;
                }

                .box form .inputBox span {
                    position: absolute;
                    left: 0;
                    padding: 20px 0px 10px;
                    pointer-events: none;
                    color: #8f8f8f;
                    font-size: 1em;
                    letter-spacing: 0.05em;
                    transition: 0.5s;
                }

                .box form .inputBox input:valid ~ span,
                .box form .inputBox input:focus ~ span {
                    color: #fff;
                    font-size: 0.75em;
                    transform: translateY(-34px);
                }

                .box form .inputBox i {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    border-radius: 4px;
                    overflow: hidden;
                    transition: 0.5s;
                    pointer-events: none;
                }

                .box form .inputBox input:valid ~ i,
                .box form .inputBox input:focus ~ i {
                    height: 44px;
                }

            .box form .links {
                display: flex;
                justify-content: space-between;
            }

                .box form .links a {
                    margin: 10px 0;
                    font-size: 0.75em;
                    color: #8f8f8f;
                    text-decoration: none;
                }

                    .box form .links a:hover,
                    .box form .links a:nth-child(2) {
                        color: #fff;
                    }

            .box form input[type="submit"] {
                border: none;
                outline: none;
                padding: 9px 25px;
                background: #fff;
                cursor: pointer;
                font-size: 0.9em;
                border-radius: 4px;
                font-weight: 600;
                width: 100px;
                margin-top: 10px;
            }

                .box form input[type="submit"]:active {
                    opacity: 0.8;
                }
    </style>
</head>
<body>
    <section class="content-header">
        <div class="text-center">
            <h3></h3>
        </div>
    </section>
    <section class="body-sign">
        <div class="center-sign">
            <a href="/" class="logo float-left">
                @* <img src="~/Content/img/Positron_logo2.png" alt="login/">*@
                @*<img src="~/Content/img/C_logo.png" alt="login" />*@
            </a>
            <div class="panel card-sign">
                <div class="box">
                    @{
                        var User = conn.UserMasters.Where(x => x.MTransNo == UserNo).FirstOrDefault();
                    }
                    <form action="" method="POST">

                        <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-lock"></i></i>Change Password</h2>
                        <div class="text-uppercase font-weight-bold m-0">
                            <label class="col-lg-3 control-label text-lg-right pt-2">User</label>
                            <label class="col-lg-2 control-label text-lg-left pt-2">@User.UserId</label>
                            <input id="usrMtrans" hidden value="@User.MTransNo">
                        </div>
                        <div class="form-group mb-3">
                            <label style="color: white; font-family: 'Poppins',sans-serif">New Password</label>
                            <div class="input-group">
                                <input id="pass" type="password" class="form-control form-control-lg" title="Password must be 8 characters long and must contain one special character and one number." placeholder="Enter Password" autocomplete="on">

                                @*<input type="password" id="pass" class="form-control form-control-lg" autofocus="true" required="true" />*@

                                <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <span id="perr" style="color: red"></span>

                        <div class="form-group mb-3">
                            <div class="clearfix">
                                <label class="float-left" style="color: white; font-family: 'Poppins',sans-serif">Confirm Password</label>
                                @*<a href="pages-recover-password.html" class="float-right">Lost Password?</a>*@
                            </div>
                            <div class="input-group">
                                <input id="cfpass" type="password" class="form-control form-control-lg" placeholder="Re-enter Password" autocomplete="on">

                                @*<input type="password" id="cfpass" class="form-control form-control-lg" autofocus="true" required="true" />*@
                                @* @Html.TextBoxFor(model => model.PW, new { @type = "Password", @class = "form-control form-control-lg", @required = "true" })*@
                                <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <span id="cperr" style="color: red"></span>


                        @* <span id="inErr" style="color: red;font-size:15pt">@ViewBag.wrongLogin</span>*@

                        <div class="row">
                            <div class="col-sm-8">

                            </div>
                            <div class="col-sm-4 text-right">
                                <a href="#" onclick="Reset()" class="btn btn-primary btn-lg" style="color:white;">Submit</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>




    <!--<div class="content-wrapper">
        <section role="main" class="content-body">
            <header class="page-header">
                <h2>Change Password</h2>
            </header>
            <div class="form-group row">
                <div class="col-lg-12 content" style="margin-top: 65px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-body">
                                <form action="" method="POST">
                                    <br />
                                    <div class="form-group row">-->
    @* @{
            var User = conn.UserMasters.Where(x => x.MTransNo == UserNo).FirstOrDefault();
        }*@
    <!--<label class="col-lg-3 control-label text-lg-right pt-2">User</label>

                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 control-label text-lg-right pt-2"><span class="required">*</span>New Password</label>
                                        <div class="col-lg-3">
                                            <input id="pass" type="password" class="form-control" title="Password must be 8 characters long and must contain one special character and one number." placeholder="Enter Password">
                                            <span id="perr" style="color: red"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 control-label text-lg-right pt-2"><span class="required">*</span>Confirm Password</label>
                                        <div class="col-lg-3">
                                            <input id="cfpass" type="password" class="form-control" placeholder="Re-enter Password">
                                            <span id="cperr" style="color: red"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12 col-md-offset-2">
                                            <div class="text-center">
                                                <a href="#" onclick="CheckSave()" class="btn btn-primary btn-lg" style="color:white;">Submit</a>
                                                <a href="Index" class="btn btn-danger btn-lg">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>-->
</body>
<script type="text/javascript">

    function Reset() {
        var pwd = $('#pass').val();
        var cpwd = $('#cfpass').val().trim();
       
        var Mtrans = $('#usrMtrans').val();
        var toSnd = [];

        if (pwd != "") {
           
            if (cpwd != "") {
                if (pwd == cpwd) {
                    if (pwd.length >= 8 && pwd.length <= 15) {
                        if (/^[a-zA-Z0-9- ]*$/.test(pwd) == false) {
                            if (/\d/.test(pwd) == true) {
                                toSnd[0] = pwd;
                                toSnd[1] = Mtrans;

                                $.ajax({
                                    type: "POST",
                                    url: "/Home/UpdatePass",
                                    data:
                                    {
                                        DtlString: toSnd
                                    },
                                    success: function (result) {
                                        if (result == "Success") {
                                            alert("Password changed successfully!\n You need to Login again");
                                            window.location.href = "/Home/Logout";
                                        } else {
                                            alert("Error while updating Password");
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        alert(error);
                                    },
                                });
                            } else {
                                $("#perr").html("Password must have a number");
                                $("#cperr").html("");
                            }
                        } else {
                            $("#perr").html("Password must have a special character");
                            $("#cperr").html("");
                        }
                    } else {
                        $("#perr").html("Password must be atleast 8 characters long and less than 15!");
                        $("#cperr").html("");
                    }
                } else {
                    $("#cperr").html("Password is not matching");
                    $("#perr").html("");
                }
            } else {
                $("#cperr").html("Field cannot be empty");
                $("#perr").html("");
            }
        } else {
            $("#perr").html("Please enter password");
            $("#cprr").html("");
        }
    }
 </script>
